@import "tailwindcss";

.no-select {
  user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  pointer-events: none;
}

.drag-handle {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 8px;
  background: transparent;
  cursor: col-resize;
  touch-action: none;
  z-index: 50;
}

.drag-handle::after {
  content: '';
  position: absolute;
  left: 3px;
  top: 0;
  bottom: 0;
  width: 1px;
  background: rgb(229 231 235); /* gray-200 */
}

.drag-handle::before {
  content: '';
  position: absolute;
  left: 4px;
  top: 0;
  bottom: 0;
  width: 1px;
  background: rgba(0, 0, 0, 0.03);
}